variable
{
	//info
	workers 1
    seed date("%S%H%d%m%Y")
	//dataset
    batch 100
    input "../DENN-dataset-samples/DATASETS/d_06_01_2018/mnist_normalized.gz"
	validation false
	//denn
    gens 1000
    np 1
    clamp 0.5
    rand 0.5
	//output
    output "backpropagation"
    stream "::cout"
}

//Init
args 
{
   //threads and seed
   threads_pop $workers
   seed $seed
   output $output + ".json"
   runtime_output_file $stream
}

//Batch info
args
{
   dataset $input
   batch_size $batch
   batch_offset $batch
   use_validation $validation 
   compute_test_per_pass false
   reval_pop_on_batch false
}

//DE Params
args 
{
    //generations + np
    generations $gens
    sub_gens 1
    number_parents $np
	
    //init individuals
    clamp_max  $clamp
    clamp_min  -$clamp
    random_max  $rand
    random_min  -$rand
   
    //type
    evolution_method BACKPROPAGATION 
	{
		learning_rate 0.1
		regularize 0.5
	}
}

network 
{
	out softmax
}
