variable
{
	//info
	workers threads()+1
    seed date("%S%H%d%m%Y")
	//dataset
    batch 100
    input "../DENN-dataset-samples/DATASETS/d_06_01_2018/mnist_normalized.gz"
	validation true
	//denn
    gens 500
    np 28*28
    clamp 1
    rand 1
	mutations "rand/1 curr_p_best degl"
	crossover interm
	//output
    output "MAB-SahDE" 
    stream "::cout"
}

//Init
args 
{
   //threads and seed
   threads_pop $workers
   seed $seed
   output $output + ".json"
   //runtime_output_file $stream
}

//Batch info
args
{
   dataset $input
   batch_size $batch
   batch_offset $batch / 2
   use_validation $validation 
   compute_test_per_pass false
   reval_pop_on_batch true
}

//DE Params
args 
{
    //generations + np
    generations $gens
    sub_gens $batch / 10
    number_parents $np

    //init individuals
    clamp_max  $clamp
    clamp_min  -$clamp
    random_max  $rand
    random_min  -$rand
   
    //DE type
    evolution_method "MAB-ShaDE" 
    {
        //mutations
        mutations_list $mutations
		//shade
		archive_size 1000
		shade_h 30
		//DEGL default 5
        mutation degl
        {
           degl_neighborhood 5
        }
        //crossover
        crossover $crossover
    }
}
