variable
{
	//info
	workers threads()+1
    seed date("%S%H%d%m%Y")
	//dataset
    batch 200
    batch_size $batch
    batch_offset $batch
    input "../DENN-dataset-samples/DATASETS/d_06_01_2018/mnist_normalized.gz"
	validation true
	//denn
    gens 2000
    sub_gens $batch / 10
    np 28*28
    clamp 1
    rand 1
	mutation "rand/1"
	crossover interm
	//output
    output "SahDE.json" 
    stream "::cout"
}

//Init
args 
{
   //threads and seed
   threads_pop $workers
   seed $seed
   output "results/" + $output
   runtime_output_file $stream
}

//Batch info
args
{
   dataset $input
   batch_size $batch_size
   batch_offset $batch_offset
   use_validation $validation 
   compute_test_per_pass false
   reval_pop_on_batch true
}

//DE Params
args 
{
    //generations + np
    generations $gens
    sub_gens $sub_gens
    number_parents $np

    //init individuals
    clamp_max  $clamp
    clamp_min  -$clamp
    random_max  $rand
    random_min  -$rand
   
    //DE type
    evolution_method "ShaDE" 
    {
		//shade
		archive_size 1000
		shade_h 30
		//DEGL default 5
        mutation degl
        {
           degl_neighborhood 5
        }
        //mutation
        mutation $mutation
        //crossover
        crossover $crossover
    }
}


network
{
	lp 250 relu
}

