variable
{
    generations 500
    output "test"
    stream "::cout"
    clamp 100
    rand 1
}

//Init
args 
{
   //threads and seed
   threads_pop 5
   seed data("%S%D%M%Y") //329266844
   //nram + copy task
   instance nram
   task copy
   output $output + ".json"
   runtime_output_file $stream
}

//Batch info
args
{
   batch_size 1000
   batch_offset 1000
   use_validation false 
   compute_test_per_pass false
   reval_pop_on_batch false
}

//DE Params
args 
{
    //generations + np
    generations $generations
    sub_gens $generations * 10 / 100
    number_parents 20

    //init individuals
    clamp_max  $clamp
    clamp_min  -$clamp
    random_max  $rand
    random_min  -$rand
   
    //DE type
    evolution_method SHADE {
        archive_size 1000
        shade_h 10
        mutation curr_p_best {
            perc_of_best 0.1
        }
        crossover bin
    }
}

//Network
args 
{
    //nram layout
    max_int 10
    n_registers 4
    time_steps 5
    gates read inc inc write
}

